.banner {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(100vh - 0px);
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.521), hsla(195, 35%, 19%, 0.589), hsla(198, 44%, 11%, 0.596));
    background-size: cover;
    background-position: center;
    transition: all .1 ease-in-out;
    animation: banner 24s infinite linear;
    border-bottom: 5px solid var(--colorSecundari);
}

.banner-content {
    margin-left: 30px;
    width: 50%;
    /* margin: auto; */
    padding: 0;
    height: 100%;
    color: #FFF;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.banner-content p {
    /* float: left; */
    /* justify-content: left; */
    width: 75%;
    font-size: medium;
    margin-bottom: 20px;
    text-align: left;
}

.banner-content a {
    width: 180px;
    background: transparent;
    text-decoration: none;
    color: #FFF;
    padding: 9px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border-radius: 3%;
}

.banner video{
    object-fit: cover;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    height: 140%;
    z-index: -1;
}

.banner-content h1{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: left;
}

.banner-content a:hover{
    background-color: #FFF;
    color: #333;
}

/*
@keyframes banner{
    0%{
        background-image: url("../RESOURCES/IMAGES/slider/slider1.jpg")
    }

    20%{
        background-image: url("../RESOURCES/IMAGES/slider/slider1.jpg")
    }

    25%{
        background-image: url("../RESOURCES/IMAGES/slider/slider2.jpg")
    }

    45%{
        background-image: url("../RESOURCES/IMAGES/slider/slider2.jpg")
    }
    
    50%{
    
        background-image: url("../RESOURCES/IMAGES/slider/slider3.jpg")
    }

    70%{
    
        background-image: url("../RESOURCES/IMAGES/slider/slider3.jpg")
    }

    75%{
        background-image: url("../RESOURCES/IMAGES/slider/slider4.jpg")
    }

    90%{
        background-image: url("../RESOURCES/IMAGES/slider/slider4.jpg")
    }

    100%{
        background-image: url("../RESOURCES/IMAGES/slider/slider1.jpg")
    }
    
}*/
.invisiblee{
    visibility: hidden;
    display:none;
}

@media (max-width: 768px) {
    .banner{
        height: calc(95vh - 0px);
    }

    .banner-content h1{
        font-size: 28px;
    }

    .banner{
        width: 100%;
        height: calc(100vh - 0px);
        background: linear-gradient(to right, hsla(198, 39%, 28%, 0.521), hsla(195, 35%, 19%, 0.589), hsla(198, 44%, 11%, 0.596)); 
        background-size: cover;
        background-position: center ;
        transition: all .1 ease-in-out;
        animation: banner 24s infinite linear;
        border-bottom: 5px solid var(--colorSecundari);
    }

    .banner-content{
        margin: auto;
        padding: 5%;
        width: 100%;
       /* background: #0F2027;  
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); */
        /*background: linear-gradient(to right, hsla(198, 39%, 28%, 0.521), hsla(195, 35%, 19%, 0.589), hsla(198, 44%, 11%, 0.596)); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-content h1{
        font-family: 'Roboto', sans-serif;
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        font-size: 40px;
        text-align: center;
    }
    
    .banner-content p {
        font-size: large;
        margin-bottom: 20px;
    }
    
    .banner-content a{
        background: transparent;
        text-decoration: none;
        color: #FFF;
        padding: 9px 20px;
        border: 1px solid #FFF;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        border-radius: 3%;
    }
    


  
}